In [1]:
# we define function by the help of "def" keyword and after "def" we give function name
def test():
    print("this is akshay this side")

In [2]:
test()

this is akshay this side

In [3]:
l="this  is akshay this side"

In [4]:
len(l)

25

In [6]:
l.upper()

'THIS  IS AKSHAY THIS SIDE'

In [7]:
# if we need to create a function and currently we does not need to define that then, we will use "pass", ptherewise that will generate error
def fun():
    pass

In [8]:
fun()

In [10]:
# function enhance the reuselity of code and make the code eaier to user and the 
# here upper a test() name function is defined and we want to add the name with the function. is this possible, lets try
test()+"akshay"

this is akshay this side

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
# here, above its give an error ,'NoneType' and 'str'

In [13]:
# to do this type of problem...
# we will create a new function 
def test1():
    return "this  is akshay this side"

In [14]:
test1()

'this  is akshay this side'

In [15]:
test1()+" its happend"

'this  is akshay this side its happend'

In [16]:
# this makes possible because the keyword "return" return the datatype as it is , but print function always show "nonetype" datatype

In [17]:
def test2():
    return "akshay", 23,23.5,[1,2,3]

In [19]:
test2()

('akshay', 23, 23.5, [1, 2, 3])

In [20]:
# return keyword return the multiple type of datatypes here test2() shows that and the proof is avaliable by the test2()

In [24]:
# we can declare value also by the function 
a,b,c,d=test2()

In [25]:
a

'akshay'

In [26]:
b

23

In [27]:
# function return the logic also
def test3():
    a=5+6/7
    return a

In [32]:
test3()

5.857142857142857

In [33]:
# passing argunent to a function 
def test4(a,b,c):
    d=a+b/c
    return d

In [34]:
test4()

TypeError: test4() missing 3 required positional arguments: 'a', 'b', and 'c'

In [35]:
# here error is show because argument is missing, we have to assign the value of argument
test4(3,4,5)

3.8

In [36]:
def test5(a,b):
    return a+b

In [37]:
test5(3,4)

7

In [39]:
# we can concatenate the string also by the function
test5("akshay", " jha")

'akshay jha'

In [40]:
# if we need to saperate the value in list like put the integer value in other list and put the string vlaue in another list
l=[1,2,3,4,"akshay","jha",[4,5,6,7,8]]

In [45]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [46]:
l1

[1, 2, 3, 4]

In [57]:
def test6(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [58]:
test6(l)

[1, 2, 3, 4]

In [63]:
# if we need to execute the list and list inside list then
def test7(a):
#     if we make any function and we need to specify the dockstring then we will put them in triple quote and after if we need to check the dockstring weite the function name and press 
#     shift + tab
    '''if we need to execute the list and list inside list then'''
    l=[]
    for i in a:
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i)==int or type(i) == float:
                l.append(i)
    return l

In [65]:
test7(l)

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [61]:
l

[1, 2, 3, 4, 'akshay', 'jha', [4, 5, 6, 7, 8]]

In [70]:
# if user want to pass the n no of argument
def test8(*args):
    return args

In [71]:
test8(1,2,3,"akshay","jha")

(1, 2, 3, 'akshay', 'jha')

In [72]:
# we can use default vlaue or overide the value in argument in function also 
def test9(a,b,c=10,d=11):
    return a,b,c,d

In [74]:
# here we can put the value of to the argument of a function 
# if we not assign the value of argument in the function, then assign is must in the time of function call
# and we if we need to assign the default vlaue to the new value this we can also do in time of function call
test9(11,12)

(11, 12, 10, 11)

In [75]:
# overide the value of argument in the function 
test9(11,13,c=15,d=13)
# hence the value is overidden

(11, 13, 15, 13)

In [76]:
# if the user need the value in type of dict then we will use "**kwargs"
# kwargs is a keyword
def test10(**kwargs):
    return kwargs

In [77]:
test10()

{}

In [78]:
type(test10())

dict

In [ ]:
test10(a=[