In [1]:
l=["akshay", "jha", "amit", "rahul", "sumit"]

In [2]:
l

['akshay', 'jha', 'amit', 'rahul', 'sumit']

In [5]:
for i in l :
    if i == "amit":
        continue
    print (i)
else :
    print ("thanks for using our name")

akshay
jha
rahul
sumit
thanks for using our name

In [6]:
range(5) #range is used to generate the data and here data is generated to show this generated data we have to call the range function with the help of list

range(0, 5)

In [8]:
list(range(5)) # range is a generator function data from o to 5 is generated, excluded 5

[0, 1, 2, 3, 4]

In [10]:
list (range(0,5,2)) # we first index is starting and the middle position is ending data, and the last position the skip or jump value is stored

[0, 2, 4]

In [11]:
range(0,20,2)

range(0, 20, 2)

In [12]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
# we can produce negative data also in range
list (range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [1]:
l2 = [12,33,34,45,55,65,78,89,90,102,203,304]

In [2]:
l2

[12, 33, 34, 45, 55, 65, 78, 89, 90, 102, 203, 304]

In [3]:
list (range(0, len(l2), 2))

[0, 2, 4, 6, 8, 10]

In [5]:
for i in range (0, len(l2), 2):
    print (l2[i])

12
34
55
78
90
203

In [16]:
# to add the element of list 
l =[1,2,3,4,7,8,98]
# we can here also use sum function
sum(l)

123

In [19]:
# we can add  the same element by the help of loop 
result = 0
for i in l :
    result = result + i 
result

123

In [20]:
# we can do same thing by the tuple
t=(1,2,3,4,7,8,98)

In [21]:
t

(1, 2, 3, 4, 7, 8, 98)

In [23]:
value = 0
for j in t:
    print (j)

1
2
3
4
7
8
98

In [25]:
value = 0
for j in t:
    value = value + j 
value

123

In [26]:
# we can execute the word of variable 
s1 = "pwskill"

In [27]:
for i in s1 :
    print (i)

p
w
s
k
i
l
l

In [29]:
# we can modify the length of the string 
for i in range (0,len(s1), 2) :
    print (s1[i])

p
s
i
l

In [30]:
#  we can use this by the set
s = {"key" : "akshay", "name" : "akshay", "roll" : 721, "sub" : ["python", "data science", "c++", "java"]}

In [31]:
s

{'key': 'akshay',
 'name': 'akshay',
 'roll': 721,
 'sub': ['python', 'data science', 'c++', 'java']}

In [32]:
# to get the keys of set
s.keys()

dict_keys(['key', 'name', 'roll', 'sub'])

In [38]:
# 
s.keys()

dict_keys(['key', 'name', 'roll', 'sub'])

In [39]:
# to get the length of the set or dict
len(s)

4

In [40]:
# to get the value of key we can use get function
s.get('key')

'akshay'

In [41]:
# to get the key value of the dict 
s.values()

dict_values(['akshay', 'akshay', 721, ['python', 'data science', 'c++', 'java']])

In [43]:
# to get the specific key and value of dict we can use items function 
s.items()

dict_items([('key', 'akshay'), ('name', 'akshay'), ('roll', 721), ('sub', ['python', 'data science', 'c++', 'java'])])

In [46]:
# to get the keys value from the dict
for i in s.keys() :
    print (s[i])

akshay
akshay
721
['python', 'data science', 'c++', 'java']

In [48]:
# to get the values from the keys
for i in s.values():
    print (i)

akshay
akshay
721
['python', 'data science', 'c++', 'java']

In [49]:
# to get the keys and specific value we can use the items function 
s.items()

dict_items([('key', 'akshay'), ('name', 'akshay'), ('roll', 721), ('sub', ['python', 'data science', 'c++', 'java'])])

In [50]:
# to get the specific key and value by loop 
for i in s.items():
    print (i)

('key', 'akshay')
('name', 'akshay')
('roll', 721)
('sub', ['python', 'data science', 'c++', 'java'])